<?xml version="1.0" encoding="utf-8"?>

<!-- ARCHIVO DE CONFIGURACION PRINCIPAL DEL SISTEMA -->

<configuration>

	<!-- CONFIGURACION DE LA VERSION DEL FRAMEWORK -->
	<startup>

		<!-- VERSION DE .NET FRAMEWORK UTILIZADA -->
		<supportedRuntime
		  version="v4.0"
		  sku=".NETFramework,Version=v4.7.2" />

	</startup>

	<!-- CONFIGURACION SISTEMA BACKUPS -->

	<!-- CONFIGURACIONES GENERALES DEL SISTEMA -->
	<appSettings>

		<!-- CONTRASEÑA UTILIZADA PARA CIFRADO AES -->

		<add key="AESPassword"
			 value="BackupUltraSeguro2026!" />

		<!-- CORREO DESTINO PARA ALERTAS -->

		<add key="CorreoAlertas"
			 value="henry0020503@gmail.com" />

		<!-- CORREO PRINCIPAL DEL SISTEMA -->

		<add key="CorreoSistema"
			 value="henry0020503@gmail.com" />

		<!-- CONTRASEÑA DE APLICACION DE GMAIL -->

		<add key="CorreoPassword"
			 value="zxbsdvgckrunynxd" />

	</appSettings>

	<!-- CONFIGURACIONES DEL RUNTIME -->
	<runtime>

		<!-- CONFIGURACION DE ENSAMBLADOS -->
		<assemblyBinding
		  xmlns="urn:schemas-microsoft-com:asm.v1">

			<!-- CONFIGURACION DEL ENSAMBLADO SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE -->
			<dependentAssembly>

				<!-- IDENTIFICACION DEL ENSAMBLADO -->
				<assemblyIdentity
				  name="System.Runtime.CompilerServices.Unsafe"
				  publicKeyToken="b03f5f7f11d50a3a"
				  culture="neutral" />

				<!-- REDIRECCION DE VERSION -->
				<bindingRedirect
				  oldVersion="0.0.0.0-4.0.6.0"
				  newVersion="4.0.6.0" />

			</dependentAssembly>

			<!-- CONFIGURACION DEL ENSAMBLADO SYSTEM.MEMORY -->
			<dependentAssembly>

				<!-- IDENTIFICACION DEL ENSAMBLADO -->
				<assemblyIdentity
				  name="System.Memory"
				  publicKeyToken="cc7b13ffcd2ddd51"
				  culture="neutral" />

				<!-- REDIRECCION DE VERSION -->
				<bindingRedirect
				  oldVersion="0.0.0.0-4.0.1.2"
				  newVersion="4.0.1.2" />

			</dependentAssembly>

			<!-- CONFIGURACION DEL ENSAMBLADO SYSTEM.NUMERICS.VECTORS -->
			<dependentAssembly>

				<!-- IDENTIFICACION DEL ENSAMBLADO -->
				<assemblyIdentity
				  name="System.Numerics.Vectors"
				  publicKeyToken="b03f5f7f11d50a3a"
				  culture="neutral" />

				<!-- REDIRECCION DE VERSION -->
				<bindingRedirect
				  oldVersion="0.0.0.0-4.1.4.0"
				  newVersion="4.1.4.0" />

			</dependentAssembly>

			<!-- CONFIGURACION DEL ENSAMBLADO SYSTEM.BUFFERS -->
			<dependentAssembly>

				<!-- IDENTIFICACION DEL ENSAMBLADO -->
				<assemblyIdentity
				  name="System.Buffers"
				  publicKeyToken="cc7b13ffcd2ddd51"
				  culture="neutral" />

				<!-- REDIRECCION DE VERSION -->
				<bindingRedirect
				  oldVersion="0.0.0.0-4.0.3.0"
				  newVersion="4.0.3.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>

</configuration>